<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/mongodb/index.html"> MongoDB Managed Service for Pivotal Cloud Foundry</a>
      </li>

      <li>
        <a href="/mongodb/installing.html">Installing and Configuring the MongoDB Managed Service for PCF</a>
      </li>

      <li>
        <a href="/mongodb/binding.html">Creating and Binding MongoDB Service Instances</a>
      </li>

      <li>
        <a href="/mongodb/release-notes.html">Release Notes</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
