---
title: MongoDB Managed Service for Pivotal Cloud Foundry&reg; 
owner: Partners
---

## <a id="overview"></a> Overview

This is documentation for MongoDB Managed Service for Pivotal Cloud Foundry.
The MongoDB Managed Service enables Cloud Foundry® users to provision MongoDB databases in a variety of configurations, from standalone instances to replicated, sharded clusters. Binding applications to a MongoDB service instance provides a unique credential to connect with and manage a MongoDB database on the deployed set / cluster. This tile requires a licensed copy of MongoDB Ops Manager.

Key Features

* The ability to provision a MongoDB service instance in standalone, replica set or sharded cluster configuration.
* Binding applications to the instance creates unique credentials for each application to access the database.
* Supports deployment of MongoDB Community or Enterprise server.


## <a id="snapshot"></a>Product Snapshot

Current Partner Tile for Pivotal Cloud Foundry Details
Version: v0.1
Release Date: Aug 1st 2016 
Compatible Ops Manager Version(s): 1.8.x
Compatible Elastic Runtime Version(s): 1.8.x


## <a id="reqs"></a>Requirements

Download and install MongoDB Ops Manager. 
MongoDB Ops Manager must be installed and running as a prerequisite to installing this tile. 

## <a id="limits"></a>Limitations

Users are limited to choosing one of three pre-configured plans, support for creating blank MongoDB agent vms is not availa

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.


## <a id='release-notes'></a>Release Notes

## <a id='license'></a>License

The product integrates with MongoDB Ops Manager which requires a MongoDB subscription to run in production. You may use MongoDB Enterprise products in development without need for a subscription. You can find more information about MongoDB subscriptions on the [mongodb website](https://www.mongodb.com/lp/contact/mongodb-professional).