---
title: MongoDB Managed Service for Pivotal Cloud Foundry&reg; 
owner: Partners
---


## <a id="install"></a> Install
Install via Pivotal Ops Manager
 
Download the MongoDB On Demand tile from Pivotal Network.
Upload the .pivotal file to your Ops Manager installation.
Click Add next to the uploaded product description in the Ops Manager Available Products view to add this product to your staging area.
Click the MongoDB On Demand tile to configure (see 3. Using the Tile)
Click Apply Changes to install MongoDB.


## <a id="config"></a> Configure 
Upon adding the tile, the user will need to configure the MongoDB Ops Manager endpoint and API credentials, these are configurable in the “MongoDB Ops Manager” section of the tile. 

The MongoDB On Demand tile only requires configuration for the location and login credentials of MongoDB Operations Manager. These settings can be found in the second section, titled “MongoDB On-Demand”.

![Ops Man Config](images/config.png)

Provide information for MongoDB Ops Manager as follows;

MongoDB Ops Manager URL - This is the URL of for the Ops Manager web interface
MongoDB Ops Manager username - The username you wish to use to allow PCF to create MongoDB instances, this user must have sufficient permission to create a cluster.
MongoDB Ops Manager API Key - The key associated to the specified account
MongoDB availability zone(s) - The AZ you wish to deploy MongoDB clusters to, this AZ has to be one with an associated service network

## <a id="troubleshoot"></a> Troubleshooting

Symptom:
MongoDB Ops Manager not found

	Explanation:
MongoDB Ops Manager not reachable -- check host is up and reachable across the network.
MongoDB Ops Manager API not enabled -- check in Group Settings that Public API is enabled.
MongoDB Ops Manager API key is invalid -- check that the key is still valid and create a new one via Group Settings if not.
