---
title: MongoDB Enterprise Service for PCF (Beta)
owner: Partners
---

This documentation describes the MongoDB Enterprise Service for Pivotal Cloud Foundry (PCF).
The MongoDB Enterprise Service for PCF tile registers a service broker on PCF and exposes its service plans on the Marketplace.
Those plans are integrated with MongoDB Ops Manager.
Developers can provision MongoDB databases by creating instances of the service plans using Apps Manager
or the Cloud Foundry Command Line Interface (cf CLI).

## <a id="overview"></a> Overview

The MongoDB Enterprise Service for PCF has the following key features:

* The ability to provision a MongoDB service instance in standalone, replica set, or sharded cluster configuration
* Binding apps to the instance creates unique credentials for each app to access the database
* Supports deployment of MongoDB Community or Enterprise server

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about MongoDB Enterprise Service for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.8.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 16, 2017</td>
    </tr>
    <tr>
        <td>Compatible MongoDB version(s)</td>
        <td>v3.2.x and v3.4.x, Community and Enterprise</td>
    </tr>
    <tr>
        <td>Compatible MongoDB Ops Manager version(s)</td>
        <td>v2.0.x and v3.4.x</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Before installing the MongoDB Enterprise Service for PCF tile, you must download and install a licensed copy of MongoDB Ops Manager. MongoDB Ops Manager deploys and manages a MongoDB server in your environment.

Download MongoDB Ops Manager from [MongoDB](https://www.mongodb.com/download-center#ops-manager), and follow the [MongoDB documentation](https://docs.opsmanager.mongodb.com/current/installation/) to install it.

For production, you must have a MongoDB subscription. See the [License](#license) section for more information.

## <a id="limits"></a>Limitations

The MongoDB Enterprise Service for PCF has the following limitations:

* Standalone and Replica set plans are pre-configured to one and three nodes respectively.
* Support for creating blank MongoDB agent VMs is not available.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.

## <a id='license'></a>License

Before deploying MongoDB Enterprise Service for PCF, you must purchase professional services from MongoDB
and secure a commercial agreement.

In addition, MongoDB Enterprise Service for PCF integrates with MongoDB Ops Manager.
To run MongoDB Ops Manager in production, you need a MongoDB subscription.

For more information about MongoDB professional services and subscriptions, see [MongoDB](https://www.mongodb.com/lp/contact/mongodb-professional).

You may use MongoDB Enterprise products in development without a subscription. 

