---
title: Release Notes
owner: Partners
---
### v1.0.12
**Release Date**: October, 25 2018

This release of the MongoDB Enterprise Service for PCF Tile contains
bug fixes along with the following new features:

* **Enable SSL/TLS by default for all MongoDB Deployments:** A new tile-level configuration parameter is available to force all MongoDB deployments created with the tile to have SSL/TLS network connections enabled by default. This setting is available on the "MongoDB On-Demand" tab of the Tile configuration in PCF Ops Manager.

* **Validate MongoDB version** The tile will now proactively validate the version of MongoDB requested for a deployment and issue an error prior to beginning the provisioning. 

* **XFS** Base operating system environments targetted for MongoDB deployments will now mount data directories with the XFS filesystem. This is in line with MongoDB recommended [production notes](https://docs.mongodb.com/manual/administration/production-notes/#kernel-and-file-systems).

* **Syslog** The MongoDB Tile now supports standard PCF Tile syslog aggregation for all managed resources. 

* **MongoDB Ops Manager 4.0.4** The tile has been tested and certified with MongoDB Ops Manager 4.0.4.

**Known Issues**:

* GCP environments running PCF are not supported due to an issue with the Ubuntu Trusty stemcell series. See: [bosh/issues/1722](https://github.com/cloudfoundry/bosh/issues/1722).

### v1.0.5

**Release Date**: July 5, 2018

This incremental release of our tile contains the following:

* **SSL/TLS support for MongoDB deployments:** The service broker now supports fully configuring the TLS settings for a MongoDB deployment through the MongoDB Ops Manager API. This removes the need to complete TLS configuration manually through the MongoDB Ops Manager web console.

* The dependency on BOSH DNS is now optional (required for SSL/TLS support). Note, this was added to version v1.0.4 but never made publically available.

### v1.0.3

**Release Date**: April 17, 2018

This incremental release of our tile contains the following:

* **SSL/TLS support for MongoDB deployments:** You can now deploy MongoDB on PCF with TLS/SSL enabled. A new security section has been added to the tile configuration which allows setting the required certificates and private keys. Additional configuration on MongoDB Ops Manager is required to fully enable TSL/SSL connections to MongoDB deployments. See [Enabling SSL for a Deployment](https://docs.opsmanager.mongodb.com/current/tutorial/enable-ssl-for-a-deployment/) for more information.

* **T-shirt sizing for MongoDB deployments:** This new feature expands the number of service plans available for users. PCF operators can now define Small, Medium, and Large plans for each of the three deployment types (Standalone, Replica Set, and Sharded Cluster). Each size and cluster-type pair allows a choice of both VM-type and storage disk type.</p>

* **Automatically enable backups for MongoDB clusters foundry-wide:** The tile configuration allows you to enable backups by default for all MongoDB clusters provisioned. This setting does not effect existing clusters. For those, use MongoDB Ops Manager to configure backups.

### v1.0.1

**Release Date**: January 31, 2018

This version is the first Generally Available
(GA) version of the MongoDB Enterprise Service for PCF.
The release contains a number of usability and effeciency
enhancements and represents the first in a new monthly
update release cycle.

<p class="note"><strong>Note</strong> MongoDB Enterprise Service for PCF v1.0.1 requires MongoDB Ops Manager v3.6.2 or later.
	Before installing this version of the tile, upgrade your associated MongoDB Ops Manager instance.
	See the latest <a href="https://docs.opsmanager.mongodb.com/current/tutorial/nav/upgrade-application/">Upgrade Ops Manager</a> documentation for more information.
	This version of the tile does not function properly when configured with older versions of MongoDB Ops Manager.</p>

* GA version
* Added support for MongoDB 3.6.x
* Added support for MongoDB Ops Manager 3.6.2+
* Added ability to name MongoDB deployment during provisioning.
* Success status is now only updated when database is ready.
* MongoDB logo now appears in the PCF Apps Manager.
* MongoDB deployments can now be tagged and tags are integrated with MongoDB Ops Manager.
* Clarification of certain error messages.
* Added support for Post-Deply Errand to Upgrade all Service Instances.

### v0.8.4

**Release Date**: October 12, 2017

* Added auto-discovery of the latest MongoDB version

### v0.8.3

**Release Date**: September 7, 2017

* Fixed bug when persistent disk was not attached to the instance
* Bump On-Demand Services SDK to v0.17.0

### v0.8.2

**Release Date**: August 16, 2017

* Remove the minor version number from stemcell criteria to allow the users apply stemcell security patches

### v0.8.1

**Release Date**: August 9, 2017

* Bug fixes
* Support for blue-green deployments


### v0.8.0

**Release Date**: July 10, 2017

* Bug fixes
* The tile has been updated to support:
	* MongoDB v3.2.x – v3.4.x, community and enterprise
	* MongoDB Ops Manager v2.0.x – v3.4.x
	* PCF v1.8.x – v1.11.x
* The tile includes a 'sharded_cluster' plan that provisions a cluster with two shards (three-node replica sets) by default.
* The plans can be configured via configuration parameters to set the MongoDB version and custom sharded cluster topologies.


### v0.6.9

**Release Date**: December 8, 2016

Features included in the release:

* Closed Beta
* The tile now deploys as a BOSH v2-managed service.
  It deploys VMs only when a service creation is instantiated by the user.
  The service is configured by MongoDB Enterprise Ops Manager.
* The tile offers the ability to configure two flavors of MongoDB: Standalone and Single Replica Set.
* The service plans deploy the following:
	* `standalone`: Provides a single node cluster of MongoDB on the VM type selected during installation
	* `single_replica_set`: Provides a three-node cluster of MongoDB on the VM type selected during installation
